= stylesheet_link_tag "fullcalendar.print", :media => "print"
- title "Calendário"
= include_gon
div class="page-header"
  h1 Calendário
#calendar


javascript:
  
  function remover(id,title,start,end){
    $('#calendar').fullCalendar('removeEvents',id);
    $.post( 
      "/remover_evento",
      { 
        evento: title, 
        data_inicio: start, 
        data_fim: end
      }
    );
  }


  $(document).ready(function() {
    
    eventos = []
    $.each(gon.eventos, function(index,evento){
      eventos.push({
        title: evento.evento,
        start: evento.data_inicio,
        end: evento.data_fim
      })
    });

    $('#calendar').fullCalendar({
      lang: 'pt-br',
      theme: true,
      header: {
        left: '',
        center: 'title',
        right: 'prev,next'
      },
      defaultDate: '2016-01-12',
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Título do Evento:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $.post( 
            "/salvar_evento",
            { 
              evento: title, 
              data_inicio: start._d, 
              data_fim: end._d
            }
          );
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      eventClick: function(calEvent, jsEvent, view) {
        if (jsEvent.target.className!="closeon"){
          var title = prompt('Título do Evento:', calEvent.title, { buttons: { Ok: true, Cancel: false} });
          if (title){  
            old_title = calEvent.title;
            calEvent.title = title;
            $('#calendar').fullCalendar('updateEvent', calEvent);
            $.post( 
              "/salvar_evento",
              { 
                old_title: old_title,
                evento: title,
                data_inicio: calEvent.start._d,
                data_fim: calEvent.end._d
              }
            );
          }
        }
      },
      eventRender: function(evento, element) {
        element.append( "<a href=\"javascript:remover('"+evento._id+"','"+evento.title+"','"+evento.start._d+"','"+evento.end._d+"')\" data-confirm=\"Você tem certeza?\" class='closeon'><i class=\"fa fa-fw fa-times-circle\"></i></a>" ).find(".fc-content").data("toggle","tooltip").attr("title",evento.title);
      },
      editable: true,
      events: eventos
    });
    
  });