var map;

function imgError(image) {
    image.onerror = "";
    image.src = "<%= asset_path("default-user.png") %>";
    return true;
}

function initialize() {
  var latlng = new google.maps.LatLng(-18.8800397, -47.05878999999999);

  var options = {
      zoom: 4,
      center: new google.maps.LatLng(-15.127750417479286, -53.18050174999996),
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("map"), options);

  pontos_mapa = gon.pontos
  var coordenadas = []

  $.each(pontos_mapa, function(index, ponto) {
 
    coordenadas.push(new google.maps.LatLng(ponto.Latitude, ponto.Longitude));

    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(ponto.Latitude, ponto.Longitude),
        title: ponto.Nome,
        icon: '<%= asset_path("map-marker.png") %>',
        map: map
    });

    var infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(marker, 'click', (function(marker) {
      return function() {
        infowindow.setContent('<img src="'+ponto.Imagem+'" onerror=imgError(this); width=60px height=60px; style="display: block; margin: 10px auto;"> <a class="twitteruser" href="http://www.twitter.com/'+ponto.Nick+'">@'+ponto.Nick+'</a><br>'+ponto.Seguidores+' seguidores');
        infowindow.open(map, marker);
      }
    })(marker));

  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: coordenadas,
    map: map,
    radius: 50
  });

}
 
initialize();