@media only screen and (max-device-width: 480px) { 
  .card-container.card {
    width: 95%;
  }

  body{
    margin-top:35px;
  }

  .nav-logo{
    margin-right: 0px;
  }

  .navbar-nav{
    margin: 0px -15px;
    margin-top: 12.5px;
  }

  .navbar-brand{
    display: none;
  }

  .modal-dialog{
    width: 85%;
    margin: 20px auto;
  }

}

@media only screen and (max-device-width: 1200px) and (orientation: landscape) { 
  .card-container.card {
    width: 95%;
    padding: 10px 40px;
  }
  
  .profile-img-card {
    margin:0px auto;
  }

  .profile-name-card{
    margin:0px;
    min-height: 0px;
  }

  .col-lg-4{
    width: 33.3333%;
    float: left;
  }

  .navbar-nav{
    margin: 0px -15px;
    margin-top: 12.5px;
  }

  .huge{
    font-size: 24px;
  }

  body{
    margin-top:20px;
  }
}