- title "Fontes - Editar #{@fonte.nome}"
- model_class = Fonte
.page-header
  h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form"
